<!DOCTYPE html>
<html lang='en'>
  <head>
    <title></title>
    <meta charset='utf-8' />
  </head>
  <body>
    <form action="/submit" method="post">
      <p>Your Name: <input type="text" name="name"></p>
      <p>Your Favorite Dinosaur:
      <select name="dinosaur" id="dinosaur">
        <option value="Microraptor">Microraptor</option>
        <option value="Dromaeosaurus">Dromaeosaurus</option>
        <option value="Austroraptor">Austroraptor</option>
        <option value="Velociraptor">Velociraptor</option>
        <option value="Utahraptor">Utahraptor</option>
        <option value="Deinonychus">Deinonychus</option>
        <option value="Brachiosaurus">Brachiosaurus</option>
        <option value="Giraffatitan">Giraffatitan</option>
        <option value="Iguanadon">Iguanadon</option>
        <option value="Heterodontosaurus">Heterodontosaurus</option>
      </select></p>
      <p>Your Favorite Beatle:
      <input type="radio" name="beatle" value="John Lennon">John Lennon
      <input type="radio" name="beatle" value="Paul McCartney">Paul McCartney
      <input type="radio" name="beatle" value="George Harrison">George Harrison
      <input type="radio" name="beatle" value="Ringo Starr">Ringo Starr
      <p>Comment (optional):</p>
      <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
      <input type="submit" value="Submit"></p>
    </form>
  </body>
</html>